{% extends "layout.html" %}
{% block content %}
<div class="Projects">
    <h1>My Projects</h1>
    <p>Nursing Project: This was a project that I helped work on while I was working as a Software Developer at my university's XREAL Lab.
      We were tasked with building a Virtual Reality app that would allow students to interact with a simulated patient. One main responsibility
      that I had was with  creating a system that would allow us to take in speech from Watson's Speech to Text service and return a corect response
      using a system that I created that used keywords stored in arrays. This would return the correct response if enough keywords were triggered.
      If not then the student nurse would be allowed another try depending on the rubric we were given by the instructors. If they had completely failed
      then they would be moved to the next sequence and the process would repeat itself.
    </p>

    <p>Circuit Snap: This was a project that I was assigned to while taking my Software Engineering class. We were assigned a project that my professor
      had found clients that were looking for Software Development help. Me and my team were assigned to help develop an application for one of our
      school's physics professors called Circuit Snap. The purpose of this project was to allow students the ability to use a virtual proto board in order
      to practice creating circuits outside of their lab time. The main goal of this application was to lower the bar between students who could not be on
      campus as much as others and help everyone be able to learn regardless of their ability to attend extra lab sessions.


    <p>
</div>
{% endblock %}
